.g-topbar
    position: absolute;
    left: 0;
    z-index: 99; 
    width: 100%;
    margin-top: 0px;
    .m-top 
      position: relative;
      z-index: 1000;
      height: 70px;
      box-sizing: border-box;
      background: #242424;
      border-bottom: 1px solid #000;
      .warp
        width: 100%;
        margin: 0 auto;
      .f-cb:after
        clear: both;
        content: '.';
        display: block;
        height: 0;
        visibility: hidden;
      .logo
        float: left;
        width: 176px;
        height: 69px;
        background-position: 0 0;
        background:url("https://s2.music.126.net/style/web2/img/frame/topbar.png?3b704e3ab4863a7be717af9fcf90fa3c")
        a
          float: left;
          width: 157px;
          height: 100%;
          padding-right: 20px;
          text-indent: -9999px;
          
.m-nav
  li
    list-style: none;
    display: inline; 
    float: left;    

    