a
    font-size: 12px
.f-cb:after
    clear: both
    content: '.'
    display: block
    height: 0
    visibility: hidden
.toplist-container
    width: 983px
    min-height: 700px
    margin: 0 auto
    border: 1px solid #d3d3d3
    border-width: 0 1px
    background: url(https://s2.music.126.net/style/web2/img/frame/wrap3.png?46f025f41a3c4bca79f654b6239fb2c2) repeat-y 100% 100%
    .left-banner
        float: left
        width: 240px
        .left-banner-content
            margin-top: 40px
            h2
                padding: 0 10px 12px 15px;
                font-size: 14px;
                color: #000;
                font-family: simsun,\5b8b\4f53;
                font-weight: bold
            ul
                cursor: pointer;
                vertical-align: middle;
            .mine
                height: 62px;
                &:hover
                   background: #e6e6e6;
            li
                list-style: none;
                position: relative;
                padding: 10px 0 10px 20px;
                height: 42px;
            .item
                padding-left: 50px;
            .left
                display: inline;
                float: left;
                margin-left: -50px;
                overflow: hidden;
                width: 40px;
            .avatar
                display: block;
                position: relative;
                width: 40px;
                height: 40px;
                img
                    width: 40px;
                    height: 40px;
            .name
                width: 150px;
                overflow: hidden;
                margin-top: 2px;
                margin-bottom: 3px;
                a
                    white-space: nowrap;
                    font-size: 12px;
                    color: #333;
            .scd
                margin-top: 20px;
.u-btn2,.u-btn2 i 
    background: url('https://s2.music.126.net/style/web2/img/button2.png?63ac9318877cc628508b987fc20db7e9')
.u-btn2, .u-btn2 i, .u-btn2 .icn, .u-btni, .u-btni i, .u-tag, .u-tag i, .u-btni-addply .ply
    background: url(https://s2.music.126.net/style/web2/img/button2.png?58b5482…) no-repeat;


.u-btn2, .u-btn2 i 
    display: inline-block;
    height: 31px;
    width: 70px;
    line-height: 31px;
    overflow: hidden;
    line-height: 32px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
.u-btni, .u-btni i 
    float: left;
    height: 31px;
    line-height: 30px;
    min-width: 23px;
    cursor: pointer;
.btns
    margin-bottom: 25px;
    margin-right: -10px;
    .u-btni-add 
        margin-right: 5px;
    .u-btni
        font-family: simsun,\5b8b\4f53;
       
.u-btni-add
    width: 31px;
    margin-left: -3px;
    padding-right: 0;
    background-position: 0 -1588px;

.u-btni 
    padding: 0 5px 0 0;
    white-space: nowrap;
.u-btn2 
    padding: 0 5px 0 0;
    white-space: nowrap;
    i
        pointer-events: none;
.u-btni-addply 
    float: left;
    i
       padding: 0 7px 0 8px;
       font-style: normal;
    .ply
        float: left;
        width: 20px;
        height: 18px;
        margin: 6px 2px 2px 0;
        background-position: 0 -1622px;
        overflow: hidden;
.u-btn2-2 
    color: #fff;
    background-position: right -428px;
    i 
        color: #fff;
        background-position: 0 -387px;



.s-fc4, a.s-fc4:hover
    font-size: 12px;
    color: #999;
.u-icn
    background: url('https://s2.music.126.net/style/web2/img/icon.png?97a1cdd9e8dc7b414d79a40cf3cfc953')

