a
    font-size: 12px
.container
    width: 980px
    min-height: 700px 
    margin: 0 auto
    border: 1px solid #d3d3d3
    border-width: 0 1px
    background: url(https://s2.music.126.net/style/web2/img/frame/wrap1.png?c0801643740ad93d9b5fdacba1a8a16f) repeat-y 100% 100%
    .content
        width: 729px;
        padding: 20px 20px 40px
        .hot-music
            .hot-music-menu
                border-bottom: 2px solid #C10D0C
                padding-bottom: 5px
                padding-left: 16px;
                .hot-recommend
                    font-size: 20px
                    line-height: 28px
                    color: #333
                    text-decoration: none
                    padding-left: 5px
                .hot-recommend-list
                    padding: 7px 0 0 20px;
                    display: inline
                    a
                        text-decoration: none
                    a:hover
                        text-decoration: underline
                        color: #666
                    .line
                        margin: 0 10px
                        color: #ccc
                .more
                    margin-top: 9px
                    float: right
                    .cor
                        display: inline-block
                        width: 12px
                        height: 12px
                        margin-left: 4px
                        vertical-align: middle
  


.round-dot
    width: 12px
    height: 12px
    background: #ffffff
    border-radius: 50%
    border: 3px solid #C20C0C
    display: inline-block
    line-height: 28px

.s-fc3
    color: #666

.s-bg
    background: url('https://s2.music.126.net/style/web2/img/index/index.png?3f8dff64809e0bff8246c41ef867b1a0')

.s-bg-6 
    background-position: 0 -240px
           